
@{
    ViewBag.Title = "GerenciarUsuarios";
}
@{
    if (ViewBag.Message != null)
    {
        <table class="table">
            <tbody>
                <tr>
                    <td class="text-center">
                        <div class="alert alert-danger">@ViewBag.Message</div>
                    </td>
                </tr>
        </table>
    }


}
<div class="col-md-8 col-sm-12">
    <div class="portlet grey-cascade box">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-group"></i>Acessos:
            </div>

        </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <table id="tabela-usuarios" class="table table-hover table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Nome
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Situação
                        </th>
                        <th>
                            Cargo
                        </th>
                        <th>
                            Ação
                        </th>
                    </tr>
                </thead>
                <tbody class="tabela-completa">
                    @foreach (var usuario in ViewBag.usuarios)
                    {
                        <tr class="user-table">
                            <td id="id@(usuario.Id)">
                                @usuario.Id
                            </td>
                            <td id="nome@(usuario.Id)">
                                @usuario.Nome
                            </td>
                            <td id="email@(usuario.Id)">
                                @usuario.Email
                            </td>
                            <td id="estado@(usuario.Id)">
                                @if (usuario.Ativo)
                                {
                                    <span>Ativo</span>
                                }
                                else
                                {
                                    <span>Inativo</span>
                                }
                            </td>
                            <td id="nivelAcesso@(usuario.Id)">
                                @usuario.NivelAcesso
                            </td>
                            <td>
                                <div class="actions">
                                    <a class="btn btn-default btn-sm botao-editar-usuario " id="btn-editar@(usuario.Id)">
                                        @*<a href="@Url.Action("AlterarDadosUsuario", "Usuario")" class="btn btn-default btn-sm">*@

                                        <i class="fa fa-pencil"></i> Editar
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div id="ver-mais">>Ver mais</div>

    <div id="results">

    </div>
</div>




<form class="col-md-4 pull-right">

    <div class="portlet box purple" onclick="ShowForm('cadastrar')">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>
                <label>Cadastrar:</label>
            </div>

        </div>
    </div>
    <div style="display:none;" id="cadastrar">
        <div class="form-body">
            <div class="form-group">
                <label>Nome: </label>
                <input type="text" class="form-control input-lg" placeholder="Nome" name="usuario.Nome" id="nome-usuario" @*class="cadastrar"*@>

                <label>Email: </label>
                <input type="text" class="form-control input-lg" placeholder="exemplo@endereço.com" name="usuario.Email" id="endereco-email">

                <label>Senha: </label>
                <input type="password" class="form-control input-lg" placeholder="**********" name="usuario.Senha" id="senha">
            </div>
            <div class="form-group">
                <label>Cargo/Nível de Acesso:</label>
                <select class="form-control input-lg" name="usuario.NivelAcesso" id="nivel-acesso">
                    @foreach (LojaInformatica.DAO.Enum.NivelAcesso item in (LojaInformatica.DAO.Enum.NivelAcesso[])Enum.GetValues(typeof(LojaInformatica.DAO.Enum.NivelAcesso)))
                    {

                        int value = (int)item;

                        <option value="@value" name="usuario.NivelAcesso">@Enum.GetName(item.GetType(), item)</option>
                    }
                </select>

            </div>

        </div>

        <div class="form-actions right">

            <button type="button" class="btn green" id="cadastrar-usuario">Cadastrar</button>
        </div>
    </div>
    @*onclick="atualizarInfo(usuario.Id)*@
    @*acrescentar isso quando for para atualizar*@

    @**@
</form>





<form class="col-md-4 pull-right">

    <div class="portlet box purple">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>
                <label>Editar:</label>
            </div>

        </div>
    </div>
    <div id="editar" ">
        <div class="form-body">
            <div class="form-group">
                <label>Nome: </label>
                <input type="text" class="form-control input-lg" placeholder="id" name="usuarioedit.Id" id="id-editar" style="display:none;">

                <input type="text" class="form-control input-lg" placeholder="Nome" name="usuarioedit.Nome" id="nome-editar">

                <label>Email: </label>
                <input type="text" class="form-control input-lg" placeholder="exemplo@endereço.com" name="usuarioedit.Email" id="email-editar">

                <label>Nova senha: </label>
                <input type="password" class="form-control input-lg" placeholder="**********" name="usuarioedit.Senha" id="senha-editar">
            </div>
            <div class="form-group">
                <label>Cargo/Nível de Acesso:</label>
                <select class="form-control input-lg" name="usuario.NivelAcesso" id="nivel-editar">
                    @foreach (LojaInformatica.DAO.Enum.NivelAcesso item in (LojaInformatica.DAO.Enum.NivelAcesso[])Enum.GetValues(typeof(LojaInformatica.DAO.Enum.NivelAcesso)))
                    {

                        int value = (int)item;

                        <option value="@value" name="usuarioedit.NivelAcesso">@Enum.GetName(item.GetType(), item)</option>
                    }
                </select>

            </div>

        </div>

        <div class="form-actions right">

            <button type="button" class="btn green" id="edit-user">Editar</button>
        </div>
    </div>
    @*onclick="atualizarInfo(usuario.Id)*@
    @*acrescentar isso quando for para atualizar*@

</form>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>


<script src="~/Scripts/Específicos/cadastrarUsuario.js"></script>
<script src="~/Scripts/Específicos/Animacoes.js"></script>
<script src="~/Scripts/Específicos/PreencherEditUsuario.js"></script>
<script src="~/Scripts/Específicos/EditarUsuario.js"></script>




