
@{
    ViewBag.Title = "VisualizarUsuarios";
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet grey-cascade box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Acessos:
                </div>
                
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Nome
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Situação
                                </th>
                                <th>
                                    Cargo
                                </th>
                                <th>
                                    Ação
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var usuario in ViewBag.usuarios)
                            {
                            <tr>
                                <td>
                                    @usuario.Id
                                </td>
                                <td>
                                    @usuario.Nome
                                </td>
                                <td>
                                    @usuario.Email
                                </td>
                                <td>
                                    @if (usuario.Ativo)
                                    {
                                        <span>Ativo</span>
                                    }
                                    else
                                    {
                                        <span>Inativo</span>
                                    }
                                </td>
                                <td>
                                    @usuario.NivelAcesso
                                </td>
                                <td>
                                    <div class="actions">
                                        <a href="#" class="btn btn-default btn-sm">
                                            @*<a href="@Url.Action("AlterarDadosUsuario", "Usuario")" class="btn btn-default btn-sm">*@

                                                <i class="fa fa-pencil"></i> Editar
                                            </a>
</div>
                                </td>
                            </tr>
                            }
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


