
@{
    ViewBag.Title = "GerenciarServicos";
}

@{
    if (ViewBag.Message != null)
    {
        <table class="table">
            <tbody>
                <tr>
                    <td class="text-center">
                        <div class="alert alert-danger">@ViewBag.Message</div>
                    </td>
                </tr>
        </table>
    }


}
<div class="col-md-8 col-sm-12">
    <div class="portlet grey-cascade box">
        <div class="portlet-title">
            <div class="caption">
                Serviços:
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <table id="tabela-produtos" class="table table-hover table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Data
                        </th>
                        <th>
                            Produto
                        </th>
                        <th>
                            Cliente
                        </th>

                        <th>
                            Valor total
                        </th>
                        <th>
                            Observação
                        </th>
                        <th>
                            Cancelar
                        </th>
                    </tr>
                </thead>
                <tbody class="tabela-completa">
                    @foreach (var servico in ViewBag.servicos)
                    {
                        <tr class="product-table">
                            <td id="id@(servico.Id)">
                                @servico.Id
                            </td>
                            <td id="data@(servico.Id)">
                                @servico.DataDoPedido
                            </td>
                            <td id="produto@(servico.Id)">
                                @servico.Produto
                            </td>

                            <td id="cliente@(servico.Id)">
                                @servico.Cliente

                            </td>
                            <td id="valor@(servico.Id)">
                                @servico.ValorTotal
                            </td>
                            <td id="observacao@(servico.Id)">
                                @servico.Observacao
                            </td>


                            <td>
                                <button type="button" class="btn red delete botao-deletar-servico" id="deletar@(servico.Id)">
                                    <i class="fa fa-trash"></i>
                                    <span>
                                        Cancelar
                                    </span>
                                </button>

                            </td>
                            

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <button type="button" class="btn blue show-more" id="show-more">Ver Mais</button>
</div>



<form class="col-md-4 pull-right ">
    <a href="javascript:;" class="btn btn-theme-panel" onclick="ShowForm('cadastrar')">
        <i class="fa fa-plus"></i>
    </a>
    <div id="cadastrar">
        <div class="portlet box purple" style="display:block;">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>
                    <label>Cadastrar:</label>
                </div>
            </div>
        </div>
        <div id="cadastrarGamb">
            <div class="form-body">

                <br />
                <label>Produto:</label></b>
                <select class=" select2me " data-placeholder="Select..." tabindex="-1" title="" id="nome-produto">

                    @foreach (var produto in ViewBag.produtos)
                    {
                        <option value="@produto.Id">@produto.Nome</option>

                    }
                </select>
            </div>


            <br />
            <br />
            <label>Cliente:</label></b>
            <select class=" select2me " data-placeholder="Select..." tabindex="-1" title="" id="cliente-selecionado">

                @foreach (var cliente in ViewBag.clientes)
                {
                    <option value="@cliente.Id">@cliente.Nome @cliente.Sobrenome</option>

                }
            </select>
            <br />
            <br />

            <label>Quantidade:</label>
            <input class="form-control input-lg" name="produto.Quantidade" id="quantidade" type="number" min="1">

            <label>Preço total:</label>
            <input class="form-control input-lg" name="produto.PrecoTotal" id="total" disabled="">

            <label>Observacao:</label>
            <input class="form-control input-lg" name="produto.Observacao" id="observacao">

            <div class="form-actions right">

                <button type="button" class="btn green" id="cadastrar-servico">Cadastrar</button>
            </div>
        </div>

        </div>
    </div>
</form>

<form class="col-md-4 pull-right" style="display:none;" id="editarShow">

    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>
                <label>Editar:</label>
            </div>

        </div>
    </div>
    <div id="editar">
        <div class="form-body">
            <div class="form-group">

                <input type="text" class="form-control input-lg" placeholder="id" name="produtoedit.Id" id="id-editar" style="display:none;">

                <label>Produto:</label>
                <input type="text" class="form-control input-lg" placeholder="Nome" name="produtoedit.Nome" id="nome-editar">

                <label>Descrição:</label>
                <input type="text" class="form-control input-lg" placeholder="Descricao" name="produtoedit.Descricao" id="descricao-editar">

                <label>Quantidade:</label>
                <input type="text" class="form-control input-lg" placeholder="Quantidade" name="produtoedit.Quantidade" id="quantidade-editar">

                <label>Preço (R$):</label>
                <input type="text" class="form-control input-lg" placeholder="Valor" name="produtoedit.Valor" id="valor-editar">

            </div>

        </div>

        <div class="form-actions right">

            <button type="button" class="btn green" id="edit-product">Editar</button>
        </div>
    </div>
    @*onclick="atualizarInfo(cliente.Id)*@
    @*acrescentar isso quando for para atualizar*@

</form>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/Específicos/EditarServico.js"></script>
<script src="~/Scripts/Específicos/cadastrarServico.js"></script>
<script src="~/Scripts/Específicos/Animacoes.js"></script>
<script src="~/Scripts/Específicos/RemoverServico.js"></script>
<script src="~/Scripts/Específicos/PreencherEditServico.js"></script>



