
@{
    ViewBag.Title = "Index";
}

@{
    if (ViewBag.Message != null)
    {
        <table class="table">
            <tbody>
                <tr>
                    <td class="text-center">
                        <div class="alert alert-danger">@ViewBag.Message</div>
                    </td>
                </tr>
        </table>
    }


}
<div class="col-md-8 col-sm-12">
    <div class="portlet grey-cascade box">
        <div class="portlet-title">
            <div class="caption">
                Produtos:
            </div>

        </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <table id="tabela-produtos" class="table table-hover table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Nome
                        </th>
                        <th>
                            Descricao
                        </th>
                        <th>
                            Quantidade
                        </th>
                        <th>
                            Preço unitário
                        </th>
                        <th>
                            Marca
                        </th>
                        <th>
                            Ações
                        </th>
                        <th>
                            Remover
                        </th>
                    </tr>
                </thead>
                <tbody class="tabela-completa">
                    @foreach (var produto in ViewBag.produtos)
                    {
                    <tr class="product-table">
                        <td id="id@(produto.Id)">
                            @produto.Id
                        </td>
                        <td id="nome@(produto.Id)">
                            @produto.Nome
                        </td>
                        <td id="descricao@(produto.Id)">
                            @produto.Descricao
                        </td>

                        <td id="quantidade@(produto.Id)">
                            @produto.Quantidade

                        </td>
                        <td id="preco-unitario@(produto.Id)">
                            @produto.PrecoUnitario
                        </td>
                        <td id="marca@(produto.Marca)">
                            @produto.Marca
                        </td>
                       
                        <td>

                            <div class="actions">
                                <a class="btn btn-default btn-sm botao-editar-produto" id="btn-editar@(produto.Id)">
                                    <i class="fa fa-pencil"></i> Editar/Visualizar
                                </a>
                            </div>
                        </td>

                        <td>

                            <button type="button" class="btn red delete botao-deletar-produto" id="deletar@(produto.Id)">
                                <i class="fa fa-trash"></i>
                                <span>
                                    Delete
                                </span>
                            </button>
                        </td>

                    </tr>   
                    }
                </tbody>
            </table>
        </div>
    </div>
    <button type="button" class="btn blue show-more" id="show-more">Ver Mais</button>

</div>



<form class="col-md-4 pull-right ">
    <a href="javascript:;" class="btn btn-theme-panel" onclick="ShowForm('cadastrar')">
        <i class="fa fa-plus"></i>
    </a>
    <div id="cadastrar">
        <div class="portlet box purple" style="display:block;">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>
                    <label>Cadastrar:</label>
                </div>
            </div>
        </div>
        <div id="cadastrarGamb">
            <div class="form-body">
                <div class="form-group">
                    <label>Nome: </label>
                    <input type="text" class="form-control input-lg" placeholder="Nome" name="produto.Nome" id="nome-produto" @*class="cadastrar"*@>

                    <label>Descrição: </label>
                    <input type="text" class="form-control input-lg" placeholder="Descrição" name="produto.Descricao" id="descricao-produto">

                </div>
                <label>Quantidade: </label>
                <input type="text" class="form-control input-lg" placeholder="Quantidade" name="produto.Quantidade" id="quantidade-produto">

                <label>Preço unitário:</label>
                <input class="form-control input-lg" name="produto.PrecoUnitario" id="preco-unitario">

                <div class="form-actions right">

                    <button type="button" class="btn green" id="cadastrar-produto">Cadastrar</button>
                </div>
            </div>

        </div>
    </div>
</form>

<form class="col-md-4 pull-right" style="display:none;" id="editarShow">

    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>
                <label>Editar:</label>
            </div>

        </div>
    </div>
    <div id="editar">
        <div class="form-body">
            <div class="form-group">

                <input type="text" class="form-control input-lg" placeholder="id" name="produtoedit.Id" id="id-editar" style="display:none;">
                
                <label>Produto:</label>
                <input type="text" class="form-control input-lg" placeholder="Nome" name="produtoedit.Nome" id="nome-editar">

                <label>Descrição:</label>
                <input type="text" class="form-control input-lg" placeholder="Descricao" name="produtoedit.Descricao" id="descricao-editar">

                <label>Quantidade:</label>
                <input type="text" class="form-control input-lg" placeholder="Quantidade" name="produtoedit.Quantidade" id="quantidade-editar">

                <label>Preço (R$):</label>
                <input type="text" class="form-control input-lg" placeholder="Valor" name="produtoedit.Valor" id="valor-editar">

            </div>

        </div>

        <div class="form-actions right">

            <button type="button" class="btn green" id="edit-product">Editar</button>
        </div>
    </div>
    @*onclick="atualizarInfo(cliente.Id)*@
    @*acrescentar isso quando for para atualizar*@

</form>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/Específicos/EditarProduto.js"></script>
<script src="~/Scripts/Específicos/cadastrarProduto.js"></script>
<script src="~/Scripts/Específicos/Animacoes.js"></script>
<script src="~/Scripts/Específicos/RemoverProduto.js"></script>
<script src="~/Scripts/Específicos/preencherEditProduto.js"></script>



