
@{
    ViewBag.Title = "GerenciarClientes";
}

@{
    if (ViewBag.Message != null)
    {
        <table class="table">
            <tbody>
                <tr>
                    <td class="text-center">
                        <div class="alert alert-danger">@ViewBag.Message</div>
                    </td>
                </tr>
        </table>
    }


}
<div class="col-md-8 col-sm-12">
    <div class="portlet grey-cascade box">
        <div class="portlet-title">
            <div class="caption">
                Clientes:
            </div>

        </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <table id="tabela-clientes" class="table table-hover table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Nome
                        </th>
                        <th>
                            Sobrenome
                        </th>
                        <th>
                            Pessoa
                        </th>
                        <th>
                            Sexo
                        </th>
                        <th>
                            Editar ou Visualizar
                        </th>
                        <th>
                            Remover
                        </th>
                    </tr>
                </thead>
                <tbody class="tabela-completa">
                    @foreach (var cliente in ViewBag.clientes)
                    {
                    <tr class="client-table">
                        <td id="id@(cliente.Id)">
                            @cliente.Id
                        </td>
                        <td id="nome@(cliente.Id)">
                            @cliente.Nome
                        </td>
                        <td id="sobrenome@(cliente.Id)">
                            @cliente.Sobrenome
                        </td>

                        <td id="pessoa@(cliente.Id)">
                            @if (cliente.Pessoa == 0)
                            {
                                <span>Física</span>
                            }
                            else
                            {
                                <span>Jurídica</span>
                            }
                        </td>
                        <td id="sexo@(cliente.Id)">
                            @if (cliente.Sexo == LojaInformatica.DAO.Enum.Sexo.Masculino)
                            {
                                <span>Masculino</span>
                            }

                            else if (cliente.Sexo == LojaInformatica.DAO.Enum.Sexo.Feminino)
                            {
                                <span>Feminino</span>
                            }
                            else
                            {
                                <span>Indeterminado</span>
                            }
                        </td>
                        <td>

                            <div class="actions">
                                <a class="btn btn-default btn-sm botao-editar-cliente" id="btn-editar@(cliente.Id)">
                                    <i class="fa fa-pencil"></i> Editar/Visualizar
                                </a>
                            </div>
                        </td>

                        <td>

                            <button type="button" class="btn red delete botao-deletar-cliente" id="deletar@(cliente.Id)">
                                <i class="fa fa-trash"></i>
                                <span>
                                    Delete
                                </span>
                            </button>
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div href="" class="ver-mais" onclick="VerMais()" id="Show">Ver mais</div>
</div>



<form class="col-md-4 pull-right">

    <div class="portlet box purple" onclick="ShowForm('cadastrar')">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>
                <label>Cadastrar:</label>
            </div>

        </div>
    </div>
    <div style="display:none;" id="cadastrar">
        <div class="form-body">
            <div class="form-group">
                <label>Nome: </label>
                <input type="text" class="form-control input-lg" placeholder="Nome" name="cliente.Nome" id="nome-cliente" @*class="cadastrar"*@>

                <label>Sobrenome: </label>
                <input type="text" class="form-control input-lg" placeholder="sobrenome" name="cliente.Sobrenome" id="sobrenome-cliente">

            </div>
            <label>Pessoa:</label>
            <select class="form-control input-lg" name="cliente.TipoPessoa" id="pessoa">
                @foreach (LojaInformatica.DAO.Enum.TipoPessoa item in (LojaInformatica.DAO.Enum.TipoPessoa[])Enum.GetValues(typeof(LojaInformatica.DAO.Enum.TipoPessoa)))
                {

                    int value = (int)item;

                    <option value="@value" name="cliente.TipoPessoa">@Enum.GetName(item.GetType(), item)</option>
                }
            </select>

            <label>Sexo:</label>
            <select class="form-control input-lg" name="cliente.Sexo" id="sexo">
                @foreach (LojaInformatica.DAO.Enum.Sexo item in (LojaInformatica.DAO.Enum.Sexo[])Enum.GetValues(typeof(LojaInformatica.DAO.Enum.Sexo)))
                {

                    int value = (int)item;

                    <option value="@value" name="cliente.TipoPessoa">@Enum.GetName(item.GetType(), item)</option>
                }
            </select>


            <div class="form-actions right">

                <button type="button" class="btn green" id="cadastrar-cliente">Cadastrar</button>
            </div>
        </div>

    </div>


    @*onclick="atualizarInfo(usuario.Id)*@
    @*acrescentar isso quando for para atualizar*@

    @**@
</form>








<form class="col-md-4 pull-right" style="display:none;" id="editarShow">

    <div class="portlet box purple">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>
                <label>Editar:</label>
            </div>

        </div>
    </div>
    <div id="editar">
        <div class="form-body">
            <div class="form-group">

                <input type="text" class="form-control input-lg" placeholder="id" name="clienteedit.Id" id="id-editar" style="display:none;">

                <input type="text" class="form-control input-lg" placeholder="Nome" name="clienteedit.Nome" id="nome-editar">


                <input type="text" class="form-control input-lg" placeholder="Sobrenome" name="clienteedit.Sobrenome" id="sobrenome-editar">

                <label>Pessoa: </label>
                <select class="form-control input-lg" name="clienteedit.TipoPessoa" id="pessoa-editar">
                    @foreach (LojaInformatica.DAO.Enum.TipoPessoa item in (LojaInformatica.DAO.Enum.TipoPessoa[])Enum.GetValues(typeof(LojaInformatica.DAO.Enum.TipoPessoa)))
                    {

                        int value = (int)item;

                        <option value="@value" name="clienteedit.NivelAcesso">@Enum.GetName(item.GetType(), item)</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Sexo:</label>
                <select class="form-control input-lg" name="clienteedit.Sexo" id="sexo-editar">
                    @foreach (LojaInformatica.DAO.Enum.Sexo item in (LojaInformatica.DAO.Enum.Sexo[])Enum.GetValues(typeof(LojaInformatica.DAO.Enum.Sexo)))
                    {

                        int value = (int)item;

                        <option value="@value" name="clienteedit.Sexo">@Enum.GetName(item.GetType(), item)</option>
                    }
                </select>

            </div>

        </div>

        <div class="form-actions right">

            <button type="button" class="btn green" id="edit-client">Editar</button>
        </div>
    </div>
    @*onclick="atualizarInfo(cliente.Id)*@
    @*acrescentar isso quando for para atualizar*@

</form>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/Específicos/EditarCliente.js"></script>
<script src="~/Scripts/Específicos/cadastrarCliente.js"></script>
<script src="~/Scripts/Específicos/Animacoes.js"></script>
<script src="~/Scripts/Específicos/RemoverCliente.js"></script>
<script src="~/Scripts/Específicos/PreencherEditCliente.js"></script>



